.edit{
   max-width: 700px;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.infoWrapper {
   display: flex;
   gap: 20px;

   h2 {
      margin-bottom: 10px;
   }
}
.info {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

