.addButton {
   padding: 10px;
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 20px;

   &:hover path {
      transition: fill 0.2s ease-in-out;
      fill: var(--primary-clr);
   }
}

.form {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.infoWrapper {
   display: flex;
   gap: 20px;

   h2 {
      margin-bottom: 10px;
   }
}
.info {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

